/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

/* Basic /////////////////////////////////////////////////*/
:root {
    --primary-color: #f2f2f2;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: var(--primary-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}



p {
    margin: 10px 0;
}

img {
    width: 100%;
}
/* Basic /////////////////////////////////////////////////*/
/* PPDBar */
.navbar-ppd {
    /* height: 300px; */
    /* background: linear-gradient(black, rgba(0,0,0,0)); */

    display: flex;
    /* justify-content: space-between; */
    position: fixed;
    max-width: 900px;
    margin: 60px auto 0 auto;
    flex-wrap: wrap;
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-top: 90px;
    transition: transform 1s ;
    /* margin-left: 20px; */
}
.navbar-ppd--hidden {
    transform: translateY(-50px);
}



.child02-navbar-ppd {
    margin: 20px auto 0 auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* padding-top: 5px; */

}
.child01-child02-navbar-ppd {
    /* display: flex; */
    margin: 20px auto 0 auto;
    text-align: center;
    /* align-items: center; */
    line-height: 35px;
   
    
}
.child01-child02-navbar-ppd li {
    margin: 0 15px;
    padding:0px 20px;
    /* border-right: solid white 1px; */
    font-size: 1.2rem;
    font-weight:300;
    letter-spacing: 0.03rem;
    /* margin: 0; */
    /* border: solid rgba(255, 255, 255, 0.3) 1px; */
    color: white;
    letter-spacing: 0.05rem;
    text-align: center;
    /* font-size: 1.1rem; */
    /* padding: 4.5px; */
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: rgba(255, 123, 0, 0.6);
    /* font-weight: 600; */
    
}

.child01-child02-navbar-ppd li:hover {
    /* border-bottom: solid white 1px; */
    background-color: #33333338;
}

.ppd li {
    font-size: 32px;
    /* height: 72.2%; */
    margin-right: 10px;
    padding: 5px;

}


.caritas-ppd {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
 
}

.caritas-ppd .no-link {
    background-color: #33333338;
}
.caritas-ppd .no-link:hover {
    background-color: #33333338;
}




/* Navbar ////////////////////////////////////////////////*/
.navbar {
    background-color: white;
    color: #282828;
    height: 70px;
    width: 100%;
    position: fixed;
    margin-top: -100px;
    z-index: 99;
}

.navbar ul {
    display: flex;
    font-size: 1.4rem;
    font-weight: 1000;
}
.navbar a {
    color: #282828;
    padding: 10px;
    margin: 0 5px;
}

.textMenu a:hover {
    border-bottom: 2px #282828 solid;
    
}


.navbar .flex {
    justify-content: space-between;
}



svg {
    margin-top: 10px;
}

/* Showcase */
.showcase {
    margin: 100px 0 ;
    /* padding-top: 50px; */
}
.showcase-text {
    text-align: center;
}
.showcase-text h1{
    font-size: 50px;
    
}

#showcase-h1 {
    padding-top: 50px;
}
.showcase-text p{
    font-size: 20px;
    font-weight: 400;
}
.showcase a{
    text-align: center;
}


/* Utilities */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    /* overflow: auto; */
}

.flex {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    height: 100%;
}

.content {
    z-index: -1;
}

/* Content */
/* .even-columns .col{
    max-width: 350px;
} */
/* .even-columns { */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    
/* } */
/* .even-columns > * { */
    /* flex grow shrik basis */
    /* flex: 0 1 22em; */
/* } */

.child01-child01-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}

.child01-child01-content a {
    width: 33%;
    margin: 2px auto;
}

.toggle-button {
    position: absolute;
    top: 0.55rem;
    right: 2.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 40px;
}

.navbar-mobile {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 100;
}

.navbar-mobile li {
    margin: 20px;
}

#arrow01 img{
    width: 50px;
    height: 40px;
}

#arrow02 img{
    width: 50px;
    height: 40px;
}

/* Caritas ///////////////////////////////////////////////////////////*/
.caritas {
    text-align: center;
}
.caritas:hover {
    border-bottom: 2px #282828 solid;
}
#caritasFinal {
    margin-top: 100px;
}




/* About ///////////////////////////////////////*/
#myImage {
    width: 200px;

}
#myCV {
    width: 100%;
}

.aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


/* test ///////////////////////////////////////////////////////////////////////*/
.image {
    position: relative;
    /* width: 400px; */
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay--blur {
    backdrop-filter: blur(5px);
}
/* Every direct child */
.image__overlay > * {
    transform: transformY(50px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * { 
    transform: transformY(0);
}

.image__title {
    font-size: 1em;
    font-weight: bold;
    width: 70%;
    text-align: center;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}

#ppd {
    font-size: 18px;
    padding-top: 4px;
}

#ppd svg{
    padding-top: 4px;
}

.responsiveVideo {
    width: 100%;
    /* height: 0; */
    padding-bottom: 56.25%;
    position: relative;
}

.responsiveVideo iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}


@media all and (max-width: 950px){
    .child01-child01-content a {
        width: 49%;
        margin: 2px auto;
    }
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 10px;
        /* overflow: auto; */
    }
    .toggle-button {
        right: 1rem;
  
    }
}

@media all and (max-width: 800px){
    .child01-child01-content img {
        width: 100%;
        margin: 2px auto;
    }
    .container {
        max-width: 750px;
        margin: 0 auto;
        padding: 0 3px;
        /* overflow: auto; */
    }
    .toggle-button {
        right: 0.5rem;
  
    }
    .arrowUp {
        margin: 30px 0;
    }
}

@media all and (max-width: 720px
) {

    .showcase-text {
        padding-top: 100px;
    }
}




@media all and (max-width: 650px) {

    .textMenu {
        display: none;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }
   

    .navbar-mobile.active {
        display: flex;
        height: 100vh;
        width: 100%;
        background-color: white;
        position: fixed;
        font-size: 22px;
        text-align: center;
        padding-bottom: 8rem;
        margin-top: -30px;
    }

    /* Showcase */

.showcase-text {
    padding-top: 70px;
}
.showcase-text h1{
    font-size: 30px;
}
 .arrow {
     margin-top: -50px;
 }
 .arrowUp {
    margin: 20px 0;
}

.child01-child01-content a {
    width: 100%;
    margin: 2px auto;
}

.navbar-ppd li {
    font-size: 30px;
}




}

/* @media all and (max-width: 415px
) {

    .showcase-text {
        padding-top: 150px;
    }
} */

@media all and (max-width: 415px
) {

    .showcase-caritas {
        padding-top: 50px;
        /* margin-bottom: -50px; */
    }

    .content-caritas {
        margin-top: -15px;
    }

    .showcase-ardu {
        padding-top: 35px;
    }

    /* .showcase-clock {
        padding-top: 20px;
    } */
}












